<div class="panel panel-default top-buffer">
  <div class="panel-heading">Http Status Metrics</div>
  <div class="panel-body">
<div class='container-fluid top-buffer' ng-controller="MetricsController" data-ng-init="collectMetric();">
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas>
</div>
</div>
<div class="panel-heading">Response Time Metrics</div>
<div class="row top-buffer">
<div  class="col-md-12">
  <div    id="fareResult" ng-class="'alert alert-success'" ng-controller="MetricsController">
    <p>Average Response Time:  {{average}} ms</p>
    <p>Max Response Time: {{max}} ms</p>
    <p>Min Response Time: {{min}} ms</p>
  		</div>
  </div>
</div>
</div>
</div>
