<div class="title-container container-fluid">
  <div class="container">
    <h2>Airport List</h2>
  </div>
</div>

  <div class="row">
<div class="col-md-12"  ng-controller="AirportListController as controller">

  <table ng-table="controller.airportlistTable" class="table table-condensed table-bordered table-striped" show-filter="false">
    <tr ng-repeat="code in $data">
        <td title="'Code'" >
            {{code.code}}</td>
        <td title="'Name'" >
            {{code.name}}</td>
        <td title="'Description'">
                {{code.description}}</td>
    </tr>
</table>


</div>
</div>
