<div class="panel panel-default top-buffer">
  <div class="panel-heading">Travel Plan</div>
  <div class="panel-body">
<div class="grid" ng-controller="TravelController as controller">
<div class="row top-buffer">
  <div class="col-lg-6">
<div class='container-fluid airports-from'>



   <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>

    <div class="input-group">
  <span class="input-group-addon" id="fromGroup">From</span>
    <input type="text" id="fromInput" ng-model="controller.from" placeholder="From" uib-typeahead="code as code.description  for code in request($viewValue)" typeahead-on-select='fromSelect($item, $model, $label)' typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"/>

</div>

  </div>
</div>
  <div class="col-lg-6">

  <div class='container-fluid airports-to' >
  <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>

          <div class="input-group">
                <span class="input-group-addon" id="toGroup">To</span>
      <input type="text" id="toInput" ng-model="controller.to" placeholder="To" uib-typeahead="code as code.description  for code in request($viewValue)" typeahead-loading="loadingLocations" typeahead-on-select='toSelect($item, $model, $label)'  typeahead-no-results="noResults" class="form-control"/>
</div>

    </div>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12">

    <button type="button" id="calculateBtn" class="btn btn-primary btn-lg btn-block top-buffer" ng-click="calculate();" data-loading-text="<i class='fa fa-spinner fa-spin '></i> In Progress">Calculate Fare</button>

  </div>
</div>
<div class="row top-buffer">
<div  class="col-md-12">
  <div  hidden="true"  id="fareResult" ng-class="'alert alert-success'">
    <p>From:{{controller.from.code}}/{{controller.from.name}}/{{controller.from.description}} </p>
    <p>To:{{controller.to.code}}/{{controller.tp.name}}/{{controller.to.description}}</p>
    <p><strong>Fare:{{fareResult.amount}} {{fareResult.currency}}</strong></p>
  		</div>
  </div>
</div>
<div class="row top-buffer">
  <div  class="col-md-12" ng-controller="TravelController">
<leaflet  id="klm-travel-map" defaults="defaults" center="center" markers="markers"  width="100%" height="800px"></leaflet>
  </div>
</div>
</div>
</div>
